*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-areas: 'result details';
  align-items: end;
  column-gap: 30px;
}

.search-form {
  display: grid;
  margin-top: 10px;
  column-gap: 4rem;
  grid-template-columns: 225px 1fr 194px
}

.search-form__submit-button {
  align-self: end;
}

.result {
  grid-area: result;
}

.content__details {
  grid-area: details;
  width: 100%;
  height: 100%;
}

.result__video-container {
  width: 100%;
}

.result__video {
  width: 100%;
  height: 100%;
  max-height: 386px;
  object-fit: cover;
}

.content__list-container {
  margin-top: 18px;
  block-size: 308px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:active {
  text-decoration: none;
  background-color: #545050;
}

.content__video-card-thumbnail {
  width: 100%;
  height: 100%;
  max-width: 196px;
  max-height: 103px;
  object-fit: contain;
  object-position: center;
}

.content__video-card-description {
  line-height: 0.96;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.search-form__fieldset-title {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 7.5rem;
  text-transform: uppercase;
  line-height: 0.95;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}

.content__video-card-title {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  border: 1px solid white;
  color: currentColor;
  background-color: transparent;
  padding-block: 6px;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: inherit;
  width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.more-button {
  margin-top: 30px;
  margin-bottom: 1px;
}

fieldset {
  border: none;
}

.search-form__textfield {
  color: currentColor;
  background-color: transparent;
  border: none;
  border-block: 1px solid white;
  border-inline: 1px solid transparent;
  padding-block: 2.6px;
  padding-inline: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  width: 100%;
  letter-spacing: -0.15px;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-inline-color: white;
}

.search-form__textfield::placeholder {
  color: rgba(255,255,255,0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list .search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__checkbox + .search-form__pseudo-checkbox {
  border: 1px solid white;
  width: 19px;
  height: 19px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
}

.search-form__checkbox-list .search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__checkbox-list .search-form__label:active .search-form__label-text {
  text-decoration: none;
}

.search-form__checkbox-list .search-form__label:active .search-form__pseudo-checkbox::after,
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  background-color: white;
}

.button:focus-visible,
.search-form__textfield:focus-visible:not(:active),
.content__list-item:has(.content__card-link:focus-visible),
.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
